name: Auto Grade Tests

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-24.04
    
    steps:
      - uses: actions/checkout@v4
     
      - name: Install dependencies
        run: if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      
      - name: Download data
        run: |
          wget https://storage.yandexcloud.net/labintsev/ml-latest-small.zip  
          unzip ml-latest-small.zip -d data
          rm ml-latest-small.zip

      - name: Lint score
        run: ruff check . --output-format=github 
        continue-on-error: true

      
      - name: Graduate score
        run: python -m unittest 
